.SideDrawer {
  position: fixed;
  width: 280px;
  max-width: 70%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 200;
  background-color: white;
  background-image: url("https://www.transparenttextures.com/patterns/arches.png");
  padding: 32px 10px 16px 32px;
  box-sizing: border-box;
  transition: transform 0.3s ease-out;
  font-size: 20px;
}

@media (min-width: 550px) {
  .SideDrawer {
    display: none;
  }
}

.Open {
  transform: translateX(0);
}

.Close {
  transform: translateX(-100%);
}

.Logo {
  height: 6.5%;
  margin-bottom: 32px;
}

@media (max-width: 300px) {
  .Logo {
    height: 5.5%;
  }
}
@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
  .Logo {
    height: 5.5%;
  }
}
